.FishRow {
    background-color: white;
    vertical-align: middle;
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
}
.FishRow:hover{
    background-color: #e9e5fb;
}

.FishRow.active .details{
    border: 5px solid #F3F5F9;
}
.FishRow:hover .details{
    border: 5px solid white;
}

.FishRow p{
    margin-top: revert;
}

.avatar {
    height: 5em;
}
.avatar img{ 
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.details {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
.details img{
    max-width: 100%;
    border-radius: 5px;
}

.details ul {
    padding-top: 10px;
    list-style: circle;
}

.details li {
    padding: 5px;
}

.subtitle {
    font-family: Garamond;
    font-weight: bold;
    text-align: center;
}